gameTree/.DS_Store
.vscode/settings.json
.DS_Store
gameTree/prueba
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.DS_Store
src/.DS_Store
gameTree/Home/Bathroom/history
gameTree/.DS_Store
gameTree/Home/.DS_Store
.DS_Store
gameTree/Home/char-tumadre
